* {  
    margin:0px;
    padding: 0px;
}
.encabezado{
    background-color:#203D85;
    color:white;
    border-radius: 10px;
    padding: 5px;
}

.alerta{
    margin-top: 5px;

}

.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 5fr;
}

.sumando{
    font-size: 5vw;
    text-align: center;
    margin-top: 5px;
   
}
.agrupador{
    justify-content: center;
}

.boton{
    margin-top: 10px;
}

